<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./include/header',{title:"Student CURD"})%>
</head>
<body>
<section>
    <%- include('./include/navbar')%>
</section>
<section>
    <%- include('./pages/home') %>
</section>
</body>
</html>